.wellcom-container {
    background-image: url("../images/wellcome.webp");
    display: flex;
    /* background-repeat: no-repeat; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    margin-top: 4px;
    width:35%;
    height: auto;
}
.guid{
    font-size: 2.2vw;
    font-weight: 600;
}
.well-being{
    font-size: 3vw;
    /* font-weight: 800; */
}
.wellness{
    
    font-size:3vw;
}
.btn-light{
    color: #EE7225;
    font-size: x-large;
    padding: 12px 104px;
    font-weight: 600;
    margin: 10px;
    border-radius: 8px !important;

}
.btn-outline-secondary{
    color: white !important;
    font-size: x-large;
    border-radius: 8px !important;
    padding:9px 100px;
    font-weight: 600;
    margin: 10px;
    border-color: white!important;

}

@media screen and (max-width: 550px) {
    .guid{
        font-size: 3.7vw;
        font-weight: 600;
    }
    .well-being{
        font-size: 3.7vw;
        /* font-weight: 800; */
    }
    .wellness{
        
        font-size:4.7vw;
    }
  }